@page "/cart"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using InvoicingApp.Services.Ecommerce
@using InvoicingApp.Services.Notification
@using InvoicingApp.Services.Database
@using Stripe.Checkout

@inject NavigationManager NavigationManager
@inject ICartService CartService
@inject IEcommerceService EcommerceService
@inject NotificationService NotificationService

<h1>Cart</h1>

<ul>
    @foreach ((Product product, int quantity) in Products) {
        <li class="cart-item">
            <div>
                <h2>@product.Name</h2>
                <p>@product.Description</p>
            </div>
            <div>
                Quantity @quantity
            </div>
            <div>
                Price <i>$@product.Price</i>
            </div>
            <button class="btn btn-primary" @onclick="async _ => await RemoveItemFromCart(product)">Remove</button>
        </li>
    }
</ul>

<button class="btn btn-primary" @onclick="CheckOut">Check Out</button>

@code {
    public List<(Product, int)> Products = [];

    private async Task UpdateProducts()
    {
        Products = [];
        await foreach ((Product product, int quantity) in CartService.GetProducts()) {
            Products.Add((product, quantity));
        }
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UpdateProducts();
        }
    }

    async Task RemoveItemFromCart(Product product) {
        await CartService.RemoveItem(product.StripeProductID);
    
        Products.RemoveAll(p => p.Item1.StripeProductID == product.StripeProductID);
    
        NotificationService.ShowToast($"{product.Name} has been removed from your cart.", ToastLevel.Success);
        await UpdateProducts();
    }

    async Task CheckOut() {
        Session? session = await EcommerceService.CreateCheckoutSession();
        if (session != null) {
            NavigationManager.NavigateTo(session.Url);
        }
    }
}