@page "/product/{StripeProductID}"
@rendermode InteractiveServer

@using InvoicingApp.Services.Ecommerce
@using InvoicingApp.Services.Notification
@using InvoicingApp.Services.Database

@inject ICartService CartService
@inject IEcommerceService EcommerceService
@inject NavigationManager Navigation
@inject NotificationService NotificationService

<PageTitle>LogiSale - @Product!.Name</PageTitle>

<h1 role="product name">@Product!.Name</h1>

<p role="description">@Product!.Description</p>

<button class="btn btn-primary" @onclick="AddItemToCart">Add To Cart</button>

@code {
    [Parameter]
    public string StripeProductID { get; set; } = string.Empty;

    public Product? Product;

    protected override async Task OnParametersSetAsync()
    {
        Product = await EcommerceService.GetProductAsync(StripeProductID);

        if (Product == null)
        {
            Navigation.NavigateTo("/NotFound");
        }
    }

    async Task AddItemToCart() {
        // Add the item to the cart and notify that it has been added.
        await CartService.AddItem(Product!.StripeProductID);
        NotificationService.ShowToast($"{Product!.Name} has been added to your cart.", ToastLevel.Success);
    }
}