@page "/purchase_success"
@rendermode InteractiveServer

@using InvoicingApp.Services.Ecommerce

@inject ICartService CartService
@inject IEcommerceService EcommerceService

<PageTitle>Successful Purchase</PageTitle>

<h1 role="product name">Purchase Successful</h1>

<p role="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, at non ipsa qui atque quia placeat maiores perferendis minima tenetur dolorem, excepturi laborum sequi assumenda nobis corporis nostrum aliquam sint.</p>

@* Show invoice information after purchase. *@

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // TODO: collect cart before clearing to display on the screen
            // Clear the cart
            await CartService.ClearItems(); 
        }
    }
}